@import "compass";
@import "compass/css3";

@mixin gradient($from, $to) {
    background: $from;
    @include background-image(linear-gradient($from, $to));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$from}, endColorstr=#{$to});
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$from}, endColorstr=#{$to});
}

$contentWidth: 960px;
$dark: #333;
$light: #ffcc99;
$metaHeight: 30px;
$metaWidth: 220px;
$button: lighten($dark, 15%);
$cornerRadius: 5px;
$imageTitleBackground: rgba(80, 82, 84, 0.75);

.clearfix {
    zoom:1;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.container {
    width: $contentWidth;
    margin: 0 auto;
}

.collapsible {
    @include transition(all 0.5s ease-in-out);
    height: 0;
    overflow: hidden;
    position: relative;
}

body {

}

.button,
button,
input[type="submit"] {
    @include border-radius($cornerRadius);
    @include gradient($button, darken($button, 10%));
    border: 1px solid lighten($button, 10%);
    color: lighten($button, 50%);
    display: inline-block;
    font-size: 0.9em;
    -webkit-font-smoothing: antialiased;
    padding: 4px 8px;
    text-decoration: none;
}

.button:hover,
button:hover,
input[type="submit"]:hover {
    color: $light;
}

.button:active,
button:active,
input[type="submit"]:active {
    @include gradient(darken($button, 10%), $button);
}

input:disabled,
select:disabled,
textarea:disabled,
button:disabled {
    cursor: default;
    opacity: 0.5;
}

.button:disabled:hover,
button:disabled:hover,
input[type="submit"]:disabled:hover {
    color: lighten($button, 50%);
}

a {
    color: $button;
}

a:hover {
    text-decoration: none;
}

nav {
    ul {
        @extend .clearfix;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        float: left;
    }
}

header {
    @extend .container;
    @extend .clearfix;
    border-bottom: 3px solid $dark;
    margin-top: $metaHeight;
    padding: 20px 0;

    h1 {
        float: left;
        margin: 0;
        width: 49%;
    }

    nav {
        @extend .clearfix;
        float: right;
        font-size: 1.5em;
        font-weight: bold;
        height: 100%;
        padding-top: 0.25em;
        text-align: right;
        width: 49%;

        ul {
            float: right;
        }

        a {
            color: #000;
            padding: 0 8px;
            text-decoration: none;
        }

        a:hover {
            color: $dark;
        }

        li:first-child a {
            padding-left: 0;
        }

        li:last-child a {
            border: none;
            padding-right: 0;
        }
    }


}

.meta {
    @extend .clearfix;
    font-size: 0.8em;
    left: 50%;
    margin-left: $contentWidth / -2;
    position: absolute;
    top: 0;
    width: $contentWidth;
    z-index: 2;

    nav {
        @include border-radius(0 0 $cornerRadius $cornerRadius);
        background: $dark;
        border-top: 1px solid lighten($dark, 20%);
        clear: both;
        float: right;
        font-size: 0.9em;
        left: 50%;
        margin-left: $contentWidth / 2 - $metaWidth;
        min-height: $metaHeight;
        width: $metaWidth;

        a {
            padding: 0 8px;
        }
    }

    a {
        color: $light;
    }

    a:hover {
        text-decoration: none;
    }

    li {
        border-right: 1px solid lighten($dark, 20%);
        padding: 8px 5px;
        text-align: center;
        width: $metaWidth / 2 - 11px;
    }

    li:last-child {
        border: none;
    }

    .collapsible {
        background: $dark;
    }

    .account {
        background: url('/bundles/shopfrontend/images/icons/user.png') no-repeat top left;
        padding-left: 20px;
    }

    .login {
        background: url('/bundles/shopfrontend/images/icons/key.png') no-repeat top left;
        padding-left: 20px;
    }

    .cart {
        background: url('/bundles/shopfrontend/images/icons/cart.png') no-repeat top left;
        padding-left: 20px;
    }
}

.login-box {
    @extend .collapsible;
    color: $light;
    float: right;
    width: $metaWidth;

    input[type="text"],
    input[type="password"] {
        width: 90%;
    }

    form {
        margin: 10px;
    }

    p:last-child {
        margin-left: 10px;
    }
}

.login-box.active {
    height: auto;
    max-height: 170px;
    min-height: 170px;
}

.profile-box {
    @extend .collapsible;
    color: $light;
    float: right;
    width: $metaWidth;

    .inner {
        padding: 10px;
    }
}

.profile-box.active {
    height: auto;
    max-height: 130px;
    min-height: 130px;
}

.cart-box {
    @extend .collapsible;
    @include border-radius(0 0 0 $cornerRadius);
    color: $light;
    float: right;
    width: $metaWidth * 1.3;
}

.cart-box.active {
    height: auto;
    max-height: 950px;
    min-height: 150px;
}

.cart-item {
    @extend .clearfix;
    border-bottom: 1px dotted $light;
    margin: 0 10px;
    padding: 0.5em 0;

    img {
        max-height: 120px;
        max-width: 120px;
    }
}

.cart-item-column {
    float: left;
    margin-right: 0.9%;
    width: 49%;
}

.cart-item-column:last-child {
    text-align: right;
}

.cart-total {
    @extend .clearfix;
    border-bottom: 1px dotted $light;
    font-weight: bold;
    margin: 0 10px 2em 10px;
    padding: 0.5em 0;
}

.cart-checkout {
    margin: 0 10px 10px 0;
    text-align: right;
}

.content {
    @extend .container;
}

.product-details {
    @extend .clearfix;
    width: 800px;

    img {
        margin-right: 10px;
        text-align: left;
        vertical-align: top;
    }

    .left,
    .right {
        float: left;
        position: relative;
    }

    .left {
        max-width: 400px;
        margin-right: 10px;

        footer {
            background: $imageTitleBackground;
            bottom: 0;
            height: 40px;
            left: 0;
            position: absolute;
            right: 0;

            button {
                position: absolute;
                right: 10px;
                top: 8px;
            }

            .price {
                color: $light;
                left: 10px;
                position: absolute;
                top: 12px;
            }
        }
    }

    .right {
        min-width: 389px;
    }
}

[data-cart] {
    background: $dark url('/bundles/shopfrontend/images/icons/cart.png') no-repeat 5px center;
    color: $light;
    padding-left: $cornerRadius + 20px;
}

.product {
    display: inline-block;
    margin: 0 8px 8px 0;
    position: relative;

    h3 {
        background: $imageTitleBackground;
        bottom: 4px;
        color: $light;
        left: 0;
        margin: 0;
        padding: 0.5em;
        position: absolute;
        right: 0;
    }
}

.order-overview  {
    margin-top: 1em;

    table {
        width: 100%;
    }

    td, th {
        text-align: center;
    }

    td {
        padding: 0.5em 0.5em 0 0;
    }

    td:last-child {
        padding: 0;
    }

    td:first-child {
        text-align: left;
    }

    td:last-child,
    th:last-child {
        text-align: right;
    }

    tbody {
        tr {
            border-bottom: 1px dotted $dark;
        }
    }

    tfoot {
        font-weight: bold;
        text-transform: uppercase;

        td:last-child {
            padding-top: 1em;
        }
    }
}

form[name="checkout"] {
    section {
        float: left;
        margin-right: 1em;
        width: 30%;
    }

    section:nth-child(2n+1) {
        clear: both;
    }

    .checkout-terms {
        clear: both;
        float: none;
        width: 100%;
    }
}

