@import "admin-bundle";

$boxWidth: 350px;

.login-box {
    @extend .default-box;
    left: 50%;
    margin-left: $boxWidth/-2;
    position: fixed;
    top: 150px;
    width: $boxWidth;

    header {
        @extend .default-header;
        font-size: 1.2em;
        font-weight: bold;
        padding: 10px;
    }

    form {
        padding: 10px;
    }

    p {
        clear: both;
        float: none;
    }

    p:nth-of-type(2n) {
        margin-left: 0;
    }

    p:last-of-type {
        margin-top: 1em;
    }
}