{% form_theme form 'ShopCommonBundle:Form:formLayout.html.twig' %}
<form action="{{form_action}}" method="post" name="category">
    {{form_errors(form)}}

    {{form_row(form.name, { 'attr': {'title': 'category.name.hint' }})}}

    <p>
        <input type="submit" value="{% trans %}save{% endtrans %}">
    </p>

    {{form_rest(form)}}
</form>