{% extends "ShopBackendBundle:Layouts:default.html.twig" %}
{% block javascripts %}
    {% javascripts filter='?closure'
        '@ShopBackendBundle/Resources/public/js/crud.js'
        '@ShopBackendBundle/Resources/public/js/localize.js'
        '@ShopBackendBundle/Resources/public/js/categories.js'
    %}
        <script type="text/javascript" src="{{asset_url}}"></script>
    {% endjavascripts %}
{% endblock %}
{% block title %}{% trans %}categories{% endtrans %}{% endblock %}

{% block content %}
    <h2>{% trans %}categories{% endtrans %}</h2>
    <table>
        <thead>
            <tr>
                <th class="sortable"><span>{% trans %}category.name{% endtrans %}</span></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="categories">
            {% for category in categories %}
                {% include 'ShopBackendBundle:Categories:categoryRow.html.twig' %}
            {% endfor %}
        </tbody>
    </table>
    <p>
        <button data-href="{{path("shop_backend_categories_new")}}" class="create">
            {% trans %}category.create{% endtrans %}
        </button>
    </p>
{% endblock %}