<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        body {
            font-family: Helvetica;
        }
    </style>
</head>
<body>
    {{ 'orderConfirmation.body' | trans({'%name%': order.billingAddress.firstName}) | nl2br }}
</body>
</html>