<div class="login-box" id="login">
    {% include 'ShopFrontendBundle:Sessions:form.html.twig' %}
    <p>
        <a href="{{path('shop_frontend_accounts_new')}}">{% trans %}login.register{% endtrans %}</a>
    </p>
</div>